<!--
Il y a un block content qui sera remplir avec le code contenu dans "index.jade". L'intérêt est qu'on a plusieurs pages, on peut utiliser le même layout, la même architecture, le même 
design, le même en-tête, de page.
-->
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
